<section id="technologies" class="py-16 scroll-mt-20">
    <h2 class="text-2xl font-bold mb-12 flex items-center" data-aos="fade-in">
        <span class="text-teal-400 mr-2">04.</span>
        <span>TECHNOLOGIES</span>
        <div class="h-[1px] bg-gray-700 ml-4 flex-grow"></div>
    </h2>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8 gap-y-20">
        <div class="flex flex-col items-center" *ngFor="let technology of technologies; let i = index" data-aos="fade-in" [attr.data-aos-delay]="i * 50">
            <img class="h-10" [src]="'technologies/'+technology.icon+'.svg'" [alt]="technology.name">
            <p class="mt-1.5 text-white opacity-80">{{technology.name}}</p>
        </div>
    </div>
</section>