<header class="py-20 md:py-32 flex flex-col items-start">
    <div class="animate-fadeIn">
      <div class="flex items-center mb-4">
        <span class="text-teal-400 mr-2">✦</span>
        <h2 class="text-xl md:text-2xl font-light">Welcome to my portfolio</h2>
        <span class="text-yellow-300 ml-2">👋</span>
      </div>

      <div class="h-40 h1-con">
        <h1 class="text-4xl md:text-6xl font-bold mb-6 leading-tight">
          Creating <span class="text-teal-400">innovative</span> 
          <span class="text-purple-400"> solutions</span> 
          <br class="hidden md:block" />
          as a <app-typewriter [phrases]="typewriterPhrases"></app-typewriter>
        </h1>
      </div>
      
      
      <div class="flex flex-wrap gap-2 mb-8">
        <span class="bg-teal-900/50 text-teal-300 px-4 py-2 rounded-full text-sm">
          Angular Developer
        </span>
        <span class="bg-purple-900/50 text-purple-300 px-4 py-2 rounded-full text-sm">
          Full-Stack Engineer
        </span>
        <span class="bg-blue-900/50 text-blue-300 px-4 py-2 rounded-full text-sm">
          Golang Enthusiast
        </span>
      </div>
      
      <a href="#contact" class="inline-block bg-gradient-to-r from-teal-500 to-purple-600 hover:from-teal-600 hover:to-purple-700 text-white font-medium py-3 px-8 rounded-lg transition-all duration-300 transform hover:scale-105">
        Get in touch
      </a>
    </div>
  </header>