<nav class="py-6">
    <ul class="space-y-6">
        <li *ngFor="let item of navItems" class="nav-item">
            <a [href]="'#' + item.toLowerCase()"
                class="flex items-center group text-gray-400 hover:text-white transition-colors duration-300"
                [ngClass]="{'text-teal-400 font-medium': activeSection === item.toLowerCase()}">
                <div class="w-8 h-[1px] mr-4 transition-colors duration-300"
                    [ngClass]="activeSection === item.toLowerCase() ? 'bg-teal-400' : 'bg-gray-700 group-hover:bg-teal-400'">
                </div>
                <span class="uppercase tracking-wider text-sm">{{ item }}</span>
            </a>
        </li>
    </ul>
</nav>